# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/app/debug
android/app/profile
android/app/release
android/.gradle
android/local.properties

# IDE
.vscode/

# Misc
*.log